// Colores

$smokyblack: #0C0910;
$granitegray: #646266;
$isabelline: #ECECEC;
$lightgray: #D1D1D1;

// Fuentes

$oldstandardtt: 'Old Standard TT', serif;
$raleway: 'Raleway', sans-serif;

// Tamaños Fuente

$xxx-large: 3.125rem;
$xx-large: 1.875rem;
$x-large: 1.25rem;
$large: 1.125rem;
$medium: 1rem;
$small: 0.875rem;
$x-small: 0.75rem;

// Grosor Fuente

$regular: 400;
$bold: 700;

// Breakpoints

$min-tablet: 768px;
$min-phone: 576px;
